/*
|-------------------------------------------------------------------------------
| Default border around custom fieldsets.
|-------------------------------------------------------------------------------
*/
$fieldset-border: 1px solid $medium-gray;

/*
|-------------------------------------------------------------------------------
| Default padding inside custom fieldsets.
|-------------------------------------------------------------------------------
*/
$fieldset-padding: rem-calc(20);

/*
|-------------------------------------------------------------------------------
| Default margin around custom fieldsets.
|-------------------------------------------------------------------------------
*/
$fieldset-margin: rem-calc(18 0);

/*
|-------------------------------------------------------------------------------
| Default padding between the legend text and fieldset border.
|-------------------------------------------------------------------------------
*/
$legend-padding: rem-calc(0 3);

/*
|-------------------------------------------------------------------------------
| Global spacing for form elements.
|-------------------------------------------------------------------------------
*/
$form-spacing: rem-calc(16);

/*
|-------------------------------------------------------------------------------
| Default color for help text.
|-------------------------------------------------------------------------------
*/
$helptext-color: $black;

/*
|-------------------------------------------------------------------------------
| Default font size for help text.
|-------------------------------------------------------------------------------
*/
$helptext-font-size: rem-calc(13);

/*
|-------------------------------------------------------------------------------
| Default font style for help text.
|-------------------------------------------------------------------------------
*/
$helptext-font-style: italic;

/*
|-------------------------------------------------------------------------------
| Color of labels prefixed to an input.
|-------------------------------------------------------------------------------
*/
$input-prefix-color: $black;

/*
|-------------------------------------------------------------------------------
| Background color of labels prefixed to an input.
|-------------------------------------------------------------------------------
*/
$input-prefix-background: $light-gray;

/*
|-------------------------------------------------------------------------------
| Border around labels prefixed to an input.
|-------------------------------------------------------------------------------
*/
$input-prefix-border: 1px solid $medium-gray;

/*
|-------------------------------------------------------------------------------
| Left/right padding of an pre/post-fixed input label.
|-------------------------------------------------------------------------------
*/
$input-prefix-padding: 1rem;

/*
|-------------------------------------------------------------------------------
| Color for form labels.
|-------------------------------------------------------------------------------
*/
$form-label-color: $black;

/*
|-------------------------------------------------------------------------------
| Font size for form labels.
|-------------------------------------------------------------------------------
*/
$form-label-font-size: rem-calc(14);

/*
|-------------------------------------------------------------------------------
| Font weight for form labels.
|-------------------------------------------------------------------------------
*/
$form-label-font-weight: $global-weight-normal;

/*
|-------------------------------------------------------------------------------
| Line height for form labels. The higher the number, the more
| space between the label and its input field.
|-------------------------------------------------------------------------------
*/
$form-label-line-height: 1.8;

/*
|-------------------------------------------------------------------------------
| Background color for select menus.
|-------------------------------------------------------------------------------
*/
$select-background: $white;

/*
|-------------------------------------------------------------------------------
| Color of the dropdown triangle inside select menus. Set to
| transparent to remove it entirely.
|-------------------------------------------------------------------------------
*/
$select-triangle-color: $dark-gray;

/*
|-------------------------------------------------------------------------------
| Default radius for select menus.
|-------------------------------------------------------------------------------
*/
$select-radius: $global-radius;

/*
|-------------------------------------------------------------------------------
| Font color of text inputs.
|-------------------------------------------------------------------------------
*/
$input-color: $black;

/*
|-------------------------------------------------------------------------------
| Font color of placeholder text within text inputs.
|-------------------------------------------------------------------------------
*/
$input-placeholder-color: $medium-gray;

/*
|-------------------------------------------------------------------------------
| Font family of text inputs.
|-------------------------------------------------------------------------------
*/
$input-font-family: inherit;

/*
|-------------------------------------------------------------------------------
| Font size of text inputs.
|-------------------------------------------------------------------------------
*/
$input-font-size: rem-calc(16);

/*
|-------------------------------------------------------------------------------
| Background color of text inputs.
|-------------------------------------------------------------------------------
*/
$input-background: $white;

/*
|-------------------------------------------------------------------------------
| Background color of focused of text inputs.
|-------------------------------------------------------------------------------
*/
$input-background-focus: $white;

/*
|-------------------------------------------------------------------------------
| Background color of disabled text inputs.
|-------------------------------------------------------------------------------
*/
$input-background-disabled: $light-gray;

/*
|-------------------------------------------------------------------------------
| Border around text inputs.
|-------------------------------------------------------------------------------
*/
$input-border: 1px solid $medium-gray;

/*
|-------------------------------------------------------------------------------
| Border around focused text inputs.
|-------------------------------------------------------------------------------
*/
$input-border-focus: 1px solid $dark-gray;

/*
|-------------------------------------------------------------------------------
| Box shadow inside text inputs when not focused.
|-------------------------------------------------------------------------------
*/
$input-shadow: inset 0 1px 2px rgba($black, 0.1);

/*
|-------------------------------------------------------------------------------
| Box shadow outside text inputs when focused.
|-------------------------------------------------------------------------------
*/
$input-shadow-focus: 0 0 5px $medium-gray;

/*
|-------------------------------------------------------------------------------
| Cursor to use when hovering over a disabled text input.
|-------------------------------------------------------------------------------
*/
$input-cursor-disabled: not-allowed;

/*
|-------------------------------------------------------------------------------
| Properties to transition on text inputs.
|-------------------------------------------------------------------------------
*/
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;

/*
|-------------------------------------------------------------------------------
| Enables the up/down buttons that Chrome and Firefox add
| to <input type='number'> elements.
|-------------------------------------------------------------------------------
*/
$input-number-spinners: true;

/*
|-------------------------------------------------------------------------------
| Radius for text inputs.
|-------------------------------------------------------------------------------
*/
$input-radius: $global-radius;