/*
|-------------------------------------------------------------------------------
| Font size attribute applied to <html> and <body>. We use 100% by
| default so the value is inherited from the user's browser settings.
|-------------------------------------------------------------------------------
*/
$global-font-size: 100%;

/*
|-------------------------------------------------------------------------------
| Global width of your site. Used by the grid to determine row width.
|-------------------------------------------------------------------------------
*/
$global-width: rem-calc(1200);

/*
|-------------------------------------------------------------------------------
| Default line height for all type. $global-lineheight is 24px while
| $global-font-size is 16px.
|-------------------------------------------------------------------------------
*/
$global-lineheight: 1.5;

/*
|-------------------------------------------------------------------------------
| Colors used for buttons, call-outs, links, etc. There must always be
| a color called primary.
|-------------------------------------------------------------------------------
*/
$foundation-palette: (
        primary  : #2199e8,
        secondary: #777777,
        success  : #3adb76,
        warning  : #ffae00,
        alert    : #ec5840,
);

/*
|-------------------------------------------------------------------------------
| Color used for light gray UI items.
|-------------------------------------------------------------------------------
*/
$light-gray: #e6e6e6;

/*
|-------------------------------------------------------------------------------
| Color used for medium gray UI items.
|-------------------------------------------------------------------------------
*/
$medium-gray: #cacaca;

/*
|-------------------------------------------------------------------------------
| Color used for dark gray UI items.
|-------------------------------------------------------------------------------
*/
$dark-gray: #8a8a8a;

/*
|-------------------------------------------------------------------------------
| Color used for black ui items.
|-------------------------------------------------------------------------------
*/
$black: #0a0a0a;

/*
|-------------------------------------------------------------------------------
| Color used for white ui items.
|-------------------------------------------------------------------------------
*/
$white: #fefefe;

/*
|-------------------------------------------------------------------------------
| Background color of the body.
|-------------------------------------------------------------------------------
*/
$body-background: $white;

/*
|-------------------------------------------------------------------------------
| Text color of the body.
|-------------------------------------------------------------------------------
*/
$body-font-color: $black;

/*
|-------------------------------------------------------------------------------
| Font stack of the body.
|-------------------------------------------------------------------------------
*/
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

/*
|-------------------------------------------------------------------------------
| Set to true to enable antialiased type, using the -webkit-font-smoothing
| and -moz-osx-font-smoothing CSS properties.
|-------------------------------------------------------------------------------
*/
$body-antialiased: true;

/*
|-------------------------------------------------------------------------------
| Global value used for margin on components.
|-------------------------------------------------------------------------------
*/
$global-margin: 1rem;

/*
|-------------------------------------------------------------------------------
| Global value used for padding on components.
|-------------------------------------------------------------------------------
*/
$global-padding: 1rem;

/*
|-------------------------------------------------------------------------------
| Global font weight used for normal type.
|-------------------------------------------------------------------------------
*/
$global-weight-normal: normal;

/*
|-------------------------------------------------------------------------------
| Global font weight used for bold type.
|-------------------------------------------------------------------------------
*/
$global-weight-bold: bold;

/*
|-------------------------------------------------------------------------------
| Global value used for all elements that have a border radius.
|-------------------------------------------------------------------------------
*/
$global-radius: 0;

/*
|-------------------------------------------------------------------------------
| Sets the text direction of the CSS. Can be either ltr or rtl.
|-------------------------------------------------------------------------------
*/
$global-text-direction: ltr;

/*
|-------------------------------------------------------------------------------
| Enables flexbox for components that support it.
|-------------------------------------------------------------------------------
*/
$global-flexbox: false;

/*
|-------------------------------------------------------------------------------
| If true, all elements will have transparent backgrounds
| when printed, to save on ink.
|-------------------------------------------------------------------------------
*/
$print-transparent-backgrounds: true;
