/*
|-------------------------------------------------------------------------------
| The maximum width of a row.
|-------------------------------------------------------------------------------
*/
$grid-row-width: $global-width;

/*
|-------------------------------------------------------------------------------
| The default column count of a grid. Changing this value affects
| the logic of the grid mixins, and the number of CSS classes output.
|-------------------------------------------------------------------------------
*/
$grid-column-count: 12;

/*
|-------------------------------------------------------------------------------
| The amount of space between columns at different screen sizes.
| To use just one size, set the variable to a number instead of a map.
|-------------------------------------------------------------------------------
*/
$grid-column-gutter: (
        small: 20px,
        medium: 30px,
);

/*
|-------------------------------------------------------------------------------
| If true, the last column in a row will align to the opposite edge of the row.
|-------------------------------------------------------------------------------
*/
$grid-column-align-edge: true;

/*
|-------------------------------------------------------------------------------
| The highest number of .x-up classes available when using the block grid CSS.
|-------------------------------------------------------------------------------
*/
$block-grid-max: 8;