/*
|-------------------------------------------------------------------------------
| Font family for header elements.
|-------------------------------------------------------------------------------
*/
$header-font-family: $body-font-family;

/*
|-------------------------------------------------------------------------------
| Font weight of headers.
|-------------------------------------------------------------------------------
*/
$header-font-weight: $global-weight-normal;

/*
|-------------------------------------------------------------------------------
| Font style (e.g. italicized) of headers.
|-------------------------------------------------------------------------------
*/
$header-font-style: normal;

/*
|-------------------------------------------------------------------------------
| Font stack used for elements that use monospaced type,
| such as code samples.
|-------------------------------------------------------------------------------
*/
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;

/*
|-------------------------------------------------------------------------------
| Sizes of headings at various screen sizes. Each key is a
| breakpoint, and each value is a map of heading sizes.
|-------------------------------------------------------------------------------
*/
$header-sizes: (
        small: (
                'h1': 24,
                'h2': 20,
                'h3': 19,
                'h4': 18,
                'h5': 17,
                'h6': 16,
        ),
        medium: (
                'h1': 48,
                'h2': 40,
                'h3': 31,
                'h4': 25,
                'h5': 20,
                'h6': 16,
        ),
);

/*
|-------------------------------------------------------------------------------
| Color of headers.
|-------------------------------------------------------------------------------
*/
$header-color: inherit;

/*
|-------------------------------------------------------------------------------
| Line height of headers.
|-------------------------------------------------------------------------------
*/
$header-lineheight: 1.4;

/*
|-------------------------------------------------------------------------------
| Bottom margin of headers.
|-------------------------------------------------------------------------------
*/
$header-margin-bottom: 0.5rem;

/*
|-------------------------------------------------------------------------------
| Text rendering method of headers.
|-------------------------------------------------------------------------------
*/
$header-text-rendering: optimizeLegibility;

/*
|-------------------------------------------------------------------------------
| Font size of <small> elements.
|-------------------------------------------------------------------------------
*/
$small-font-size: 80%;

/*
|-------------------------------------------------------------------------------
| Color of <small> elements when placed inside headers.
|-------------------------------------------------------------------------------
*/
$header-small-font-color: $medium-gray;

/*
|-------------------------------------------------------------------------------
| Line height of text inside <p> elements.
|-------------------------------------------------------------------------------
*/
$paragraph-lineheight: 1.6;

/*
|-------------------------------------------------------------------------------
| Bottom margin of paragraphs.
|-------------------------------------------------------------------------------
*/
$paragraph-margin-bottom: 1rem;

/*
|-------------------------------------------------------------------------------
| Text rendering method for paragraph text.
|-------------------------------------------------------------------------------
*/
$paragraph-text-rendering: optimizeLegibility;

/*
|-------------------------------------------------------------------------------
| Text color of code samples.
|-------------------------------------------------------------------------------
*/
$code-color: $black;

/*
|-------------------------------------------------------------------------------
| Font family of code samples.
|-------------------------------------------------------------------------------
*/
$code-font-family: $font-family-monospace;

/*
|-------------------------------------------------------------------------------
| Font weight of text in code samples.
|-------------------------------------------------------------------------------
*/
$code-font-weight: $global-weight-normal;

/*
|-------------------------------------------------------------------------------
| Background color of code samples.
|-------------------------------------------------------------------------------
*/
$code-background: $light-gray;

/*
|-------------------------------------------------------------------------------
| Border around code samples.
|-------------------------------------------------------------------------------
*/
$code-border: 1px solid $medium-gray;

/*
|-------------------------------------------------------------------------------
| Padding around text of code samples.
|-------------------------------------------------------------------------------
*/
$code-padding: rem-calc(2 5 1);

/*
|-------------------------------------------------------------------------------
| Default color for links.
|-------------------------------------------------------------------------------
*/
$anchor-color: $primary-color;

/*
|-------------------------------------------------------------------------------
| Default color for links on hover.
|-------------------------------------------------------------------------------
*/
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);

/*
|-------------------------------------------------------------------------------
| Default text deocration for links.
|-------------------------------------------------------------------------------
*/
$anchor-text-decoration: none;

/*
|-------------------------------------------------------------------------------
| Default text decoration for links on hover.
|-------------------------------------------------------------------------------
*/
$anchor-text-decoration-hover: none;

/*
|-------------------------------------------------------------------------------
| Maximum width of a divider.
|-------------------------------------------------------------------------------
*/
$hr-width: $global-width;

/*
|-------------------------------------------------------------------------------
| Default border for a divider.
|-------------------------------------------------------------------------------
*/
$hr-border: 1px solid $medium-gray;

/*
|-------------------------------------------------------------------------------
| Default margin for a divider.
|-------------------------------------------------------------------------------
*/
$hr-margin: rem-calc(20) auto;

/*
|-------------------------------------------------------------------------------
| Line height for items in a list.
|-------------------------------------------------------------------------------
*/
$list-lineheight: $paragraph-lineheight;

/*
|-------------------------------------------------------------------------------
| Bottom margin for items in a list.
|-------------------------------------------------------------------------------
*/
$list-margin-bottom: $paragraph-margin-bottom;

/*
|-------------------------------------------------------------------------------
| Bullet type to use for unordered lists (e.g., square, circle, disc).
|-------------------------------------------------------------------------------
*/
$list-style-type: disc;

/*
|-------------------------------------------------------------------------------
| Positioning for bullets on unordered list items.
|-------------------------------------------------------------------------------
*/
$list-style-position: outside;

/*
|-------------------------------------------------------------------------------
| Left (or right) margin for lists.
|-------------------------------------------------------------------------------
*/
$list-side-margin: 1.25rem;

/*
|-------------------------------------------------------------------------------
| Left (or right) margin for a list inside a list.
|-------------------------------------------------------------------------------
*/
$list-nested-side-margin: 1.25rem;

/*
|-------------------------------------------------------------------------------
| Bottom margin for <dl> elements.
|-------------------------------------------------------------------------------
*/
$defnlist-margin-bottom: 1rem;

/*
|-------------------------------------------------------------------------------
| Font weight for <dt> elements.
|-------------------------------------------------------------------------------
*/
$defnlist-term-weight: $global-weight-bold;

/*
|-------------------------------------------------------------------------------
| Spacing between <dt> and <dd> elements.
|-------------------------------------------------------------------------------
*/
$defnlist-term-margin-bottom: 0.3rem;

/*
|-------------------------------------------------------------------------------
| Text color of <blockquote> elements.
|-------------------------------------------------------------------------------
*/
$blockquote-color: $dark-gray;

/*
|-------------------------------------------------------------------------------
| Padding inside a <blockquote> element.
|-------------------------------------------------------------------------------
*/
$blockquote-padding: rem-calc(9 20 0 19);

/*
|-------------------------------------------------------------------------------
| Side border for <blockquote> elements.
|-------------------------------------------------------------------------------
*/
$blockquote-border: 1px solid $medium-gray;

/*
|-------------------------------------------------------------------------------
| Font size for <cite> elements.
|-------------------------------------------------------------------------------
*/
$cite-font-size: rem-calc(13);

/*
|-------------------------------------------------------------------------------
| Text color for <cite> elements.
|-------------------------------------------------------------------------------
*/
$cite-color: $dark-gray;

/*
|-------------------------------------------------------------------------------
| Font family for <kbd> elements.
|-------------------------------------------------------------------------------
*/
$keystroke-font: $font-family-monospace;

/*
|-------------------------------------------------------------------------------
| Text color for <kbd> elements.
|-------------------------------------------------------------------------------
*/
$keystroke-color: $black;

/*
|-------------------------------------------------------------------------------
| Background color for <kbd> elements.
|-------------------------------------------------------------------------------
*/
$keystroke-background: $light-gray;

/*
|-------------------------------------------------------------------------------
| Padding for <kbd> elements.
|-------------------------------------------------------------------------------
*/
$keystroke-padding: rem-calc(2 4 0);

/*
|-------------------------------------------------------------------------------
| Border radius for <kbd> elements.
|-------------------------------------------------------------------------------
*/
$keystroke-radius: $global-radius;

/*
|-------------------------------------------------------------------------------
| Bottom border style for <abbr> elements.
|-------------------------------------------------------------------------------
*/
$abbr-underline: 1px dotted $black;