/*
|-------------------------------------------------------------------------------
| Default background color of a modal.
|-------------------------------------------------------------------------------
*/
$reveal-background: $white;

/*
|-------------------------------------------------------------------------------
| Default width of a modal, with no class applied.
|-------------------------------------------------------------------------------
*/
$reveal-width: 600px;

/*
|-------------------------------------------------------------------------------
| Default maximum width of a modal.
|-------------------------------------------------------------------------------
*/
$reveal-max-width: $global-width;

/*
|-------------------------------------------------------------------------------
| Default padding inside a modal.
|-------------------------------------------------------------------------------
*/
$reveal-padding: $global-padding;

/*
|-------------------------------------------------------------------------------
| Default border around a modal.
|-------------------------------------------------------------------------------
*/
$reveal-border: 1px solid $medium-gray;

/*
|-------------------------------------------------------------------------------
| Default radius for modal.
|-------------------------------------------------------------------------------
*/
$reveal-radius: $global-radius;

/*
|-------------------------------------------------------------------------------
| Z-index for modals. The overlay uses this value, while the
| modal itself uses this value plus one.
|-------------------------------------------------------------------------------
*/
$reveal-zindex: 1005;

/*
|-------------------------------------------------------------------------------
| Background color of modal overlays.
|-------------------------------------------------------------------------------
*/
$reveal-overlay-background: rgba($black, 0.45);